<div class="row-fluid">
  <div class="span8">
    <% if @posts.count >0 %>
      <%= render "posts/articles"%>
    <% else %>
      <p>此标签暂无文章</p>
    <% end %>
    <div class="row-fluid">
      <%= paginate @posts %>
    </div>
  </div>
  <%= render "layouts/aside" %>
</div>
