<article class="entry single clearfix">
    <%= link_to slug_path(@post.slug) do %>
      <h1 class="title"><%= @post.title %></h1>
    <% end %>
      
  	<div class="entry-body">				
  		<%= markdown(@post.content).html_safe %>				
  	</div><!-- end .entry-body -->
			
</article><!-- end .entry -->
<style type='text/css'>
.entry{
  margin: -5px 100px 0 0;
  width: 570px;
}
</style>