<aside class="span4 sidebar notebook">
<%= image_tag("/assets/colorless/avatar.jpg", class: "portrait img-polaroid", height: '138', width: '136') %>
<h3>
  <span>About
  </span>
</h3>
<p>
&nbsp;&nbsp;89年Coder,&nbsp;爱互联网,&nbsp;爱海贼王.
</p>
<h3>
  <span>Tags</span>
</h3>
<p>
<% @tags.each do |tag| %>
  <%= link_to tag.name, tag_posts_tag_path(tag), :class => 'btn'%>
<% end %>
</p>

<h3>
  <span>
    Friends
  </span>
  <p>
  </p>
</h3>

</aside>
