<aside class="span4 sidebar notebook">
<img class="portrait img-polaroid" width='136' height='138' src="/assets/colorless/avatar.jpeg" />
<h3>
  <span>About
  </span>
</h3>
<p>
A lifelong learner
</p>
<h3>
  <span>Tags</span>
</h3>
<p>
<% @tags.each do |tag| %>
  <%= link_to tag.name, tag_posts_tag_path(tag) %>
<% end %>
</p>

<h3>
  <a class="twitter" href="http://twitter.com/xiaolai" title="Follow xiaolai on Twitter" target="_blank">
    &nbsp;
  </a>
</h3>

</aside>
