<nav class="navbar">
<div class="navbar-inner">
  <div class="container">
    <h1>
      <a class="brand logo" title="Colorless Theme" href="/"><img src='/assets/colorless/logo.png' /></a>
    </h1>

    <ul class="nav nav-pills hidden-phone pull-right">
      <li>
      <%= link_to 'Home', root_path %>
      </li>
      <li>
      <a target='_blank' href='http://wordpress.lixiaolai.com'>老站存档</a>
      </li>
      <li>
      
      </li>
    </ul>
  </div>

</div>
</nav>
