<nav class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <h1>
        <a class="brand logo" title="Colorless Theme" href="/"><img src='/assets/colorless/logo.png' /></a>
      </h1>
      <form class="form-search pull-right hidden-phone" method="get" action="/search">
        <div class="input-append">
            
        </div>
      </form>
      <ul class="nav nav-pills hidden-phone pull-right">
        <li>
          <%= link_to 'Home', root_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>