<footer>
  <div class="container">
    <p>&copy; <%= Date.today.year %> <%= app_name %>. All rights reserved.</p>
    <p>Theme by <%= link_to "Dresssed", "http://dresssed.com" %>.</p>
  </div> <!-- /.container -->
</footer>
