<%# Links for current user. %>
<div class="navbar-text pull-right">

  <% if admin_signed_in? %>
  <%= icon_tag "user" %> Welcome, <strong><%= current_admin.email %></strong>
    <span class="divider">|</span>
    <%= link_to 'Settings', edit_admin_registration_path %>
    <span class="divider">|</span>
    <%= link_to 'Logout', destroy_admin_session_path, :method => :delete %>
  <% end %>

</div>
